.vk_login {
  margin: 0 auto 20px auto;
}

div#vk_login table {
    width: 125px;
}

div#vk_login table td {
    vertical-align: middle;
    line-height: 1.2em;
    padding: 0;
}

div#vk_login table tr, div#vk_login table th {
    padding: 0;
}